<!-- CSS Code -->
<style type="text/css" scoped>
.GeneratedText {
font-family:Monaco, monospace;font-size:2em;text-decoration:none;letter-spacing:0.2em;line-height:1.3em;text-align:center;color:#FFFFFF;background-color:#000066;padding:1.5em;margin:10px;
}
</style>

<!-- HTML Code -->
<div class="GeneratedText">
Universidad Francisco Marroquin <br>
Progra 3 <br>            
Por: Alejandro Madrazo
</div>

